<div class="youtube-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="video-details">
                    <div class="player">
                        <img src="https://www.google.com.pk/imgres?imgurl=http%3A%2F%2Fpcmedia.gamespy.com%2Fpc%2Fimage%2Farticle%2F710%2F710023%2Feve-online-the-path-to-kali-20060524040618557.jpg&imgrefurl=http%3A%2F%2Fpc.gamespy.com%2Fpc%2Feve-online-the-path-to-kali%2F710023p1.html&docid=3gBAzkzhiytYBM&tbnid=k4MaP5MdCC0TjM%3A&w=430&h=321&bih=611&biw=1280&ved=0ahUKEwjAjcCng77PAhUB8RQKHS04AY8QMwgcKAEwAQ&iact=mrc&uact=8" alt="">
                    </div>
                    <div class="video-title">this is a title of image</div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="video-control">
                    <button class="mute">Mute</button>
                    <button class="play">Play</button>
                    <button class="volume">Volume</button>
                </div>
            </div>
        </div>
    </div>
</div>